{% assign image_url = "favicon@4x.png" | relative_url %}
{% capture desc %}{% if page.about.seo.description %}{{ page.about.seo.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
{% capture title %}{{ site.title_name }}{% unless page.about.title %}: {{ site.tagline }}{% endunless %}{% endcapture %}

<meta name="twitter:title" content="{{ title }}">
<meta property="og:title" content="{{ title }}" />

{% if image_url %}
    <meta itemprop="image" content="{{ image_url }}">
    <meta name="twitter:image" content="{{ image_url }}">
    <meta property="og:image" content="{{ image_url }}" />
{% endif %}

{% if desc %}
    <meta name="description" content="{{ desc }}">
    <meta itemprop="description" content="{{ desc }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta property="og:description" content="{{ desc }}" />
{% endif %}
